<h2>webisho</h2>
<form method="post">
<p>
名前：<input type="text" name="name" size="40">
</p>
<p>
mail：<input type="text" name="name" size="40">
</p>
<p>
phone：<input type="text" name="name" size="40">
</p>

<p>
pass：<input type="password" name="name" size="40">
</p>
<p>
確認：<input type="password" name="name" size="40">
</p>

<br>

ここでは本名で登録してください。
本名で登録した方が遺書を開示する
際に正確に実行できます。
ここで登録した名前がリクエスト
相手に公開される訳ではありません
またここで登録したアドレスに 遺書が届くことになります
demo メールが届いていない場合は ログイン後「各種設定」から 再設定してください

<%= link_to "次へ", :controller => "index", :action => "new" %>
